/* Body - Default light mode */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: background 0.3s, color 0.3s;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Dark mode */
body[data-theme="dark"] {
  background-color: #1e1e1e;
  color: #fff;
}

/* Theme toggle button */
.theme-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  top: 20px;
  left: 100px;
}

.theme-toggle svg {
  color: #ffcc00;
}

body[data-theme="dark"] .theme-toggle svg {
  color: #ffbb00;
}

/* Main app container */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center; /* Horizontally center */
  height: 100%;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:hover {
  border-color: #e6b800;
}

.search-bar input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Unit toggle */
.unit-toggle {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.unit-toggle label {
  font-size: 1rem;
  color: #333;
}

.unit-toggle button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 5px;
}

.unit-toggle button:hover {
  background-color: #0056b3;
}

/* Get Weather button */
.btn {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #e6b800;
  cursor: pointer;
}

/* Forecast */
.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center forecast items */
  margin-top: 20px;
  gap: 1.5rem; /* Space between forecast days */
}

.forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  flex: 1 1 150px;
  max-width: 150px;
  border-radius: 12px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

.forecast-day p, h3 {
  margin: 5px
}

/* Adjust forecast-day for dark mode */
body[data-theme="dark"] .forecast-day {
  background-color: #333;
  color: #fff;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 20px;
  font-weight: bold;
}
